<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86351601647-si736g7ftiq962ccp91otl864vcg4r3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86351601647-si736g7ftiq962ccp91otl864vcg4r3o</string>
	<key>API_KEY</key>
	<string>AIzaSyCzGY0S8A8Cp5Fm7P0JE7RlwTmYMALO3fc</string>
	<key>GCM_SENDER_ID</key>
	<string>86351601647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devarsh.Notes</string>
	<key>PROJECT_ID</key>
	<string>notes-ios-18d13</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-ios-18d13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86351601647:ios:01daf6c37dc066f3efe01a</string>
</dict>
</plist>